<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\css\stylesheet.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/1faf0f7f3b.js" crossorigin="anonymous"></script>
    
</head>
<body class="body">
    <header class="header" >
        <img src="/img/logo-mercado-liebre.svg" alt="la imagen no esta">
        <input placeholder = "Buscar productos, marcas"> 
        <button><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        
        <p align='center'><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
        <nav>
            <div class="displayNotMobile">
                <ul class="ul">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                    <br>
                    <li>Crea tu cuenta <i class="fa-solid fa-id-card"></i></li>
                    <li>Ingresa <i class="fa-solid fa-right-to-bracket"></i></li>
                    <li>Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></i></li>
                </ul>
            </div>    
            <div style="text-align: center">
                <button class="burgerButton displayMobile"><i class="fa-solid fa-bars"></i></i></button>
            </div>
        </nav>
    </header>
    <img src="\img\img-home-banner.jpg" alt = "no esta" style="width: 100%">
    <main class="main">
        <p class="titulares">Basado en tu ultima visita</p>
        <section for = "Basado en ultima visita" id="contenedor4">
            <section>
                <div class="margin boxShadow">
                    <img src="\img\img-macbook-pro-2019.jpg" alt = "no esta" style="width: 100%" >
                    <div class="cajaArticulos" id="contenedor1">
                        <div id="contenedor3">        
                            <i class="fa-solid fa-truck truck" style="top : -30px"></i>
                        </div>
                        <div id="contenedor2">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% OFF</p>
                        </div>
                        <div>
                        <p class="descripciones">MacBook Pro 2019</p>
                        </div>
                    </div>
                </div>
            </section>                    
                <div class="margin boxShadow">
                    <img src="\img\img-cafetera-moulinex.jpg" alt = "no esta" style="width: 100%">
                    <div class="cajaArticulos" id="contenedor1">
                        <div id="contenedor3">
                            <i class="fa-solid fa-truck truck"  style="top : -30px"></i>
                        </div>
                        <div id="contenedor2">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <div>
                            <p class="descripciones">Cafetera Moulinex</p>
                        </div>
                        
                    </div>
                </div>
            <section>   
                <div class="margin boxShadow">
                    <img src="\img\img-tv-samsung-smart.jpg" alt="no esta" style="width: 100%">
                    <div class="cajaArticulos" id="contenedor1">
                        <div id="contenedor3">
                            <i class="fa-solid fa-truck truck"  style="top : -30px"></i>
                        </div>
                        <div id="contenedor2">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>
                            <p class="descripciones">SmartTv Samsung 43"</p>
                        </div>
                    </div>
            </section>
            <section>
                <div class="margin boxShadow">
                    <img src="\img\img-samsung-galaxy-s10.jpg" alt="no esta" style="width: 100%">
                    <div class="cajaArticulos" id="contenedor1">
                        <div id="contenedor3">           
                            <i class="fa-solid fa-truck truck"  style="top : -30px"></i>
                        </div>
                        <div id="contenedor2">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                        </div>
                        <div>
                            <p class="descripciones">Samsung Galaxy S10</p>
                        </div>
                    </div>
            </section>
        <section for = "Seccion de Ofertas" id="contenedor4">
            <p class="titulares">Ofertas</p>
            <section>
                <div class="margin boxShadow">    
                    <img src="\img\img-macbook-pro-2019.jpg" alt = "no esta" style="width: 100%">
                    <div class="cajaArticulos" id="contenedor1">
                        <div id="contenedor3">
                            <i class="fa-solid fa-truck truck"  style="top : -30px"></i>
                        </div>
                        <div id="contenedor2">
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% OFF</p>
                        </div>
                        <div>
                            <p class="descripciones">MacBook Pro 2019</p>
                        </div>        
                    </div>
                </div>
            </section>
            <section>
                <div class="margin boxShadow">
                    <img src="\img\img-cafetera-moulinex.jpg" alt = "no esta" style="width: 100%">
                    <div class="cajaArticulos" id="contenedor1">
                        <div id="contenedor3">
                            <i class="fa-solid fa-truck truck"  style="top : -30px"></i>
                        </div>
                        <div id="contenedor2">
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>    
                        <div>  
                            <p class="descripciones">Cafetera Moulinex</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="margin boxShadow">
                    <img src="\img\img-tv-samsung-smart.jpg" alt="no esta" style="width: 100%">
                    <div class="cajaArticulos" id="contenedor1">
                        <div id="contenedor3"> 
                            <i class="fa-solid fa-truck truck"  style="top : -30px"></i>
                        </div>
                        <div id="contenedor2">
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                        </div>
                        <div>
                            <p class="descripciones">SmartTv Samsung 43"</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="margin boxShadow">
                    <img src="\img\img-samsung-galaxy-s10.jpg" alt="no esta" style="width: 100%">
                    <div class="cajaArticulos" id="contenedor1">
                        <div id="contenedor3" >
                            <i class="fa-solid fa-truck truck"  style="top : -30px"></i>
                        </div>
                        <div id="contenedor2">
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                        </div>
                        <div>
                            <p class="descripciones">Samsung Galaxy S10</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <br>

    <footer class="footer">
        <section>
            <i class="fa-solid fa-credit-card footerIconos"></i>
            <p class="footerTitulares" ">Pagá con tarjeta o efectivo
            </p>
            <p class="footerTexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
            <br>

        </section>
        <section>
            <i class="fa-solid fa-gift footerIconos"></i>
            <p class="footerTitulares">Envío gratis desde $ 2.500
            </p>
            <p class="footerTexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </p>
            <br>
        </section>
        <section>
            <i class="fa-solid fa-user-shield footerIconos"></i>
            <p class="footerTitulares">Seguridad, de principio a fin
            </p>
            <p class="footerTexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
            <br>
        </section>
        <section>
            <p class="texto" style="color: #666">Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
            

        </section>
    </footer>  
</body>
</html>